@import "bootstrap-grid.css";

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*  margin: 8px; */
/*  padding-bottom: 10px; */
}

h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}

.canvasjs-chart-credit {
  display: none;
}

.chart-container {
  height: 515px;
}

.info-border {
  border-radius: 5px;
  margin-bottom: 1.875em;
  margin-top: .625em;
}

.light-border {
  border: 1px #e6e6e6 solid;
}

.card {
  height: 100%;
  padding: 10px;
}

.card-text {
  font-size: 12px;
}
